[data-testid='stAppViewContainer']{
    /* background: linear-gradient(50deg, #fdb88d 0%, #ffeaba 60%, #ffffff 100%);  */
    color:#000000;
    /* https://wallpapertag.com/wallpaper/full/8/4/9/608783-cool-gothic-wallpapers-1920x1200-picture.jpg */
    background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/itCjTBE/blue-moving-flowing-abstract-waves-on-white-background-blurred-smooth-graphic-motion-design-video-animation-1920x1080_vhhueydte_thumbnail-1080_01.png");
    /* background-image: url("https://wallpapertag.com/wallpaper/full/8/4/9/608783-cool-gothic-wallpapers-1920x1200-picture.jpg"); */
    background-blend-mode: overlay; 
    background-position: center;
    background-size: cover;
}
[data-testid='stHeader']{
    background-color: transparent;
}

[data-testid='stLogo']{
    height: 2.8rem;
}
h1{
    color: #0a416a;
}
.subheader{
    color: #879095;
}
.home-list{
    margin-top: 50px;
    margin-bottom: 40px;
}

/* __--__--__--__--__--__PAPER CARD__--__--__--__--__--__ */
.paper-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-image: url("https://3.bp.blogspot.com/-y4k360eR7J8/U7wLHmLK79I/AAAAAAAACgY/P4FckTDkz54/s1600/checker_real_canon18mm_dots_m.png");
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
    display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 100%;
  overflow: hidden;
  --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
  --color: #32a6ff;
    background-color: rgb(222, 224, 235);
    /* background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0); */
}

.paper-header h5 {
    margin-top: 0;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.paper-meta {
    color: #666;
    font-size: 14px;
    margin-top: 5px;
}


.emoji {
    margin-right: 5px;
}

.profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }

summary{
    margin-bottom: 30px;
}

/* HOME CARDS*/
  
  .paper-container:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    /* background: #E5E5E5; */
    z-index: 2
  }
  
  .paper-container:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
  }
  
  .paper-container:hover:after {
    transform: translateX(0.15rem)
  }
  

/* __--__--__--__--__--__SOCIAL__--__--__--__--__--__*/

  .social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-link {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f1f1f1;
    margin: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.social-link:hover {
    background-color: #e1e1e1;
}

.social-link img {
    width: 24px;
    height: 24px;
}

/* __--__--__--__--__--BOOKMARK--__--__--__--__--__*/


.bookmark-checkbox__input {
  display: none;
}

.bookmark-checkbox__label {
  cursor: pointer;
}

.bookmark-checkbox__icon {
  width: 1.5em;
  height: 1.5em;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.3s, fill 0.3s;
}

.bookmark-checkbox__icon-back {
  stroke: #333;
  transition: transform 0.3s;
}

.bookmark-checkbox__icon-check {
  stroke: #fff;
  stroke-dasharray: 16;
  stroke-dashoffset: 16;
  transition: stroke-dashoffset 0.3s, transform 0.3s;
  transform: translateX(2px);
}

.bookmark-checkbox__input:checked
  + .bookmark-checkbox__label
  .bookmark-checkbox__icon {
  fill: #ff5a5f;
}

.bookmark-checkbox__input:checked
  + .bookmark-checkbox__label
  .bookmark-checkbox__icon-back {
  stroke: #ff5a5f;
  transform: scale(1.1);
  animation: bookmark-pop 0.4s ease;
}

.bookmark-checkbox__input:checked
  + .bookmark-checkbox__label
  .bookmark-checkbox__icon-check {
  stroke-dashoffset: 0;
  transition-delay: 0.2s;
}

@keyframes bookmark-pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

.bookmark-checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
} 
/*
.bookmark-checkbox__input {
  display: none;
}

.bookmark-checkbox__label {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #f1f1f1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bookmark-checkbox__label:hover {
  background-color: #e1e1e1;
}

.bookmark-checkbox__icon {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: #333;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.bookmark-checkbox__icon-back {
  transition: transform 0.3s;
}

.bookmark-checkbox__icon-check {
  stroke: #fff;
  stroke-dasharray: 16;
  stroke-dashoffset: 16;
  transition: stroke-dashoffset 0.3s, transform 0.3s;
  transform: translateX(2px);
}*/

.bookmark-checkbox__input:checked + .bookmark-checkbox__label .bookmark-checkbox__icon {
  fill: #ff5a5f;
}
.bookmark-checkbox__input:checked + .bookmark-checkbox__label .bookmark-checkbox__icon-back {
  stroke: #ff5a5f;
  transform: scale(1.1);
  animation: bookmark-pop 0.4s ease;
  }
  
  .bookmark-checkbox__input:checked + .bookmark-checkbox__label .bookmark-checkbox__icon-check {
    stroke-dashoffset: 0;
    transition-delay: 0.2s;
    }
    /*

@keyframes bookmark-pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
} */
